[submodule "FLHookSDK"]
	path = vendor/FLHookSDK
	url = https://github.com/fl-devs/FLHookSDK.git
[submodule "vendor/reflect-cpp"]
	path = vendor/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "vendor/wildcards"]
	path = vendor/wildcards
	url = https://github.com/zemasoft/wildcards.git
[submodule "vendor/result"]
	path = vendor/result
	url = https://github.com/bitwizeshift/result.git
