[submodule "FLHookSDK"]
	path = vendor/FLHookSDK
	url = https://github.com/fl-devs/FLHookSDK.git
[submodule "vendor/reflect-cpp"]
	path = vendor/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
