int
bin
dist
.vs
Debug
Release
*.vcxproj.user
*.log
vcpkg_installed/

!misc/acctpath_patch/bin/*.cfg


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cppastgen