# This is a basic workflow to help you get started with Actions

name: CI

on: 
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      
      - run: vcpkg integrate install

      - uses: ilammy/msvc-dev-cmd@v1.10.0
        with:
          arch: x86

      - name: Build
        run: msbuild.exe "${env:GITHUB_WORKSPACE}\project\FLHook.sln" /t:Build /p:Configuration=Release /p:Platform=Win32

